/* Write your CSS code here */

.container-home{
    DISPLAY: FLEX;
    FLEX-DIRECTION: COLUMN;
    JUSTIFY-CONTENT: CENTER;
    align-items: center;
    min-height: 90vh;
    width: 100%;
}

.heading{
    font-weight: 500;
    font-size: 42px;
    color: black;
}