/* Write your CSS code here */

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
}

.nav-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 20px;
}

.item-container {
  cursor: pointer;
  width: 30%;
}
